.button {
  color: var(--color-neutral-0);
  background-color: var(--color-neutral-900);
  font-weight: 700;
  line-height: 140%;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 1.2rem 1.6rem;
  outline: none;
  border: none;
  border-radius: 1rem;
}

.button:hover {
  background-color: var(--color-neutral-600);
}

.button--pill {
  width: 100%;
  border-radius: 999px;
}
